<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQR9D82SGK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WQR9D82SGK');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We help reinvent your life</title>
    <meta name="description" content="">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="We help you reinvent your life">
    <meta property="og:image" content="/assets/hero.png">
    <meta property="og:description" content="Project Frida is about helping you realize a life that fits you. Not coaching. Not therapy. We facilitate personal transformation.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />

    <link rel="stylesheet" href="../styles/common.css" />
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pf-navbar-container">
      <div class="pf-container">
        <header class="pf-navbar">
          <a class="pf-navbar__logo" href="/">
            <img src="../assets/images/logo.svg" height="48px" alt="Project Frida"/>
          </a>
          <div class="pf-burger">
            <i class="pf-open fa-solid fa-bars"></i>
            <span class="pf-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="pf-navbar__navbar">
            <ul class="pf-links">
              <li>
                <a class="pf-navbar__link" href="/experience">Work with us</a>
              </li>
              <li>
                <a class="pf-navbar__link" href="/story">Our disruptions</a>
              </li>
              <li>
                <a class="pf-navbar__link selected">Who we are</a>
              </li> 
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="pf-mirror-intro"> 
      <div class="pf-container">
        <div class="pf-mirror-intro__content">
          <h1>Your trusted mirrors</h1>
          <p>
            Most of us cannot see ourselves fully. In light of this, we welcomed each other to
            reflect on what we see and value in each other. In our work together, we refer to this
            process as “mirroring.” We hope the descriptions below will help you get to know us, as
            people and a team.
          </p>
        </div>
      </div>
    </section>

    <section class="pf-mirror"> 
      <div class="pf-container">
        <div class="pf-mirror__content">
          <div class="pf-jdc__image"></div>
          <div class="pf-mirror__about">
            <h2>Jacqueline del Castillo, PhD</h2>
            <div class="pf-mirror__text">
              <div class="pf-mirror__desc">
                <h4>Bio</h4>
                <p>
                When I met Jackie in 2008 at Stanford, her enthusiasm for people-centered design
                solutions was evident as we worked on innovation projects for underserved
                populations and established organizations. We were classmates who became close
                friends, drawn together by our shared affinity for emotional depth and creating
                positive social impact.
                <br /><br />
                For 20+ years, Jackie has continued to center people's voices in her work in
                healthcare innovation. Her influence has spanned policy, research and design,
                impacting clinical practice, health policy, global funding strategies, advocacy on
                healthy equity and disability justice issues, innovation research and practice at
                institutions such as World Health Organization, Mayo Clinic, NHS England and the
                Blue Shield of California Foundation.
                <br /><br />
                Jackie has a PhD in health social movements from the Institute of Global Health
                Innovation in the Department of Medicine at Imperial College London with Lord Ara
                Darzi, renowned surgeon and former UK health minister. She also holds an MS/BS in
                Engineering from Stanford University where she trained at the home of design
                thinking, the Hasso Plattner Institute of Design.
                </p>
              </div>
              <div class="pf-mirror__desc">
                <p>
                After going through a stem cell transplant and becoming intimately aware of the
                often overlooked and stark aspects of recovery, Jackie began her advocacy work to
                improve the patient experience. In the span of 3 years, she became (and is
                currently) the Chair of the Patient Advocacy Committee of the European Society for
                Blood and Marrow Transplantation (EBMT), a non-profit medical and scientific
                organization that connects patients, researchers and stakeholders to save and
                improve the lives of patients with blood-related disorders.
                </p>
                <h4>Superpower</h4>
                <p>
                Although Jackie's credibility and authority in healthcare innovation are impressive,
                they do not compare to her presence. Even a life-altering illness and stem cell
                transplant could not diminish her joy. Jackie's exuberance enfolds you in a warm
                embrace, subtly but definitively allowing you to exhale and simply be.
                <br /><br />
                Her tender words uplift and hold, a quality echoed through her poetry, prose and
                photography that provoke, mobilize and capture the human soul. In her eyes, you will
                see your uniqueness reflected and your light recognized.
                </p>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </section>
   
    <section class="pf-mirror"> 
      <div class="pf-container">
        <div class="pf-mirror__content">
          <div class="pf-tn__image"></div>
          <div class="pf-mirror__about">
            <h2>Tina Nguyen</h2>
            <div class="pf-mirror__text">
              <div class="pf-mirror__desc">
                <h4>Superpower</h4>
                <p>
                Tina is like a breezy California day - warm and delightfully dynamic with a sense of
                possibility on the horizon. These qualities characterize the day I met her in 2008
                in a class at Stanford aptly named Innovation in Complex Organizations.
                <br />
                <br />
                Tina has a rare superpower - she instigates others to embody their natural talents
                and full potential. She did this rather relentlessly with me, leading me to deem her
                approach “the shove.” Over decades, I have witnessed people take time to accept
                Tina’s investment in their growth and unusual purity of perspective. Initially, I
                too, ran from her piercing gaze but after experiencing a major illness, I was ready
                to level with myself and embrace many uncultivated aspects.
                </p>
                <h4>Bio</h4>
                <p>
                Tina is as impressive professionally as she is personally. She holds a BS in
                Computer Science and Engineering from UC Davis and an MS in Computer Science
                (Human-Computer Interaction) from Stanford and was also trained in design thinking
                at the Hasso Plattner Institute of Design.
                </p>
              </div>
              <div class="pf-mirror__desc">
              <p>
                For 20+ years, she operated at the forefront of technology development in
                engineering, design and product roles, most recently as VP of Design. Her work has
                focused on new product development, taking nebulous ideas and bringing them to life.
                She has helped three early-stage startups achieve successful exits.
              </p>
                She is also experienced in starting her own ventures - making her well-versed in
                startup ecosystems and the emotional roller coaster of that experience. By nature,
              </p>
              <p>
                Testimonials by people who have worked closely with Tina speak to her immense
                competencies not only in designing products and user experiences but in growing the
                people and teams that do so. Having experienced how teams can become mired in
                miscommunication, Tina taught people across various disciplines to more effectively
                collaborate, communicate and resolve differences. The resulting shifts accelerated
                learning and product development as well as led to more fulfilling work
                experiences.
              </p>
              <div class="pf-mirror__desc">
            </div>
          </div>
        </div>  
      </div>
    </section>

    <section class="pf-work"> 
      <div class="pf-container">
        <div class="pf-work__content">
          <div class="pf-work__text">
            Welcoming others in your life to reflect back how they see you can be illuminating. We
            call these people mirrors. Who are the people in your life that see you most clearly?
            <br /><br />
            You might have hidden or underrated qualities, even ones you might have dismissed.
            Together, we can peel back the distortions. Seeing ourselves through each other
            continues to be a conscious process for us both.
            <div class="pf-work__btn">
              <a href="/experience">
                <div class="pf-btn">Work with us</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pf-contact">
      <div class="pf-container">
        <div>
          <h2>Contact us</h2>
          <div class="message">Tell us how your life went kablooey. We’re happy to reflect back what we hear:
          <a href="mailto:hello@projectfrida.com"><span class="heavy">hello@projectfrida.com</span></a></div>
        </div>
      </div>
    </section>

    <footer class="pf-footer">
      <div class="pf-container">
        <div class="pf-footer__content">
          <div class="company">
            &copy; Project Frida, LLC
            <script>document.write( new Date().getFullYear() );</script>
          </div>
          <div class="disclaimer">Not coaching. Not therapy. We facilitate personal transformation.</div>
        </div>
      </div>
    </footer>
    <script src="../js/common.js"></script>
  </body>
</html>

