<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We help reinvent your life</title>
    <meta name="description" content="">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="We help reinvent your life">
    <meta property="og:image" content="/assets/hero.png">
    <meta property="og:description" content="">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />

    <link rel="stylesheet" href="./styles/common.css" />
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pf-navbar-container">
      <div class="pf-container">
        <header class="pf-navbar">
          <a class="pf-navbar__logo" href="/">
            <img src="./assets/images/logo.svg" height="48px" alt="Project Frida"/>
          </a>
          <div class="pf-burger">
            <i class="pf-open fa-solid fa-bars"></i>
            <span class="pf-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="pf-navbar__navbar">
            <ul class="pf-links">
              <li>
                <a class="pf-navbar__link" href="/approach">Work with us</a>
                <a class="pf-navbar__link" href="/story">Our disruptions</a>
                <a class="pf-navbar__link" href="{{ '/about' | url }}">Who we are</a>
              </li> 
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="pf-hero"> 
      <div class="pf-container">
        <div class="pf-hero__content">
          <div class="pf-hero__img"></div>
          <h1>We help you <span class="emphasis">reinvent</span>
            <span class="emphasis break">your life</span>
          </h1>
        </div>
      </div>
    </section>

    <section class="pf-kablooey">
      <div class="pf-container">
        <div class="pf-kablooey__text">
          <h2>When life goes kablooey</h2>
          <p class="">
            Imagine a time you took a bath and the water was just right. That undulating feeling of
            warmth on your skin. It is unequivocal. When the water started to turn tepid, how
            quickly did you react? Did you refill it right away or let it go icy cold?
          </p>
          <p class="">
            In recent years, both of our lives went kablooey - a major illness diagnosis and a
            relationship separation. We needed help navigating through these experiences, and their
            aftermath. Then, something dawned on us - why not take inspiration from our decades of
            experience in tech and healthcare innovation designing products and experiences to
            benefit people?
          </p>
          <p class="">
            We created Project Frida to explore - <span class="em">How can we reinvent our lives
            after they went kablooey?</span>
          <p class="">
            If your life has gone kablooey, we’re here to listen and help you more confidently
            navigate the unknown and create a life to fit you.
          </p>
        </div>
      </div>
    </section>

    <section class="pf-bathtub">
      <div class="pf-container">
        <div class="pf-bathtub__content">
        <div class="pf-team__img"></div>
        <div class="pf-bathtub__text">
          <h2>Birthed in a bathtub</h2>
          <p class="">
            We are holding each other, trembling, releasing the emotional storms inside. Letting our
            emotions flow into the water leads to a warm realization: we are still here.
          </p>
          <p class="">
            A thought transpires through the steamy air - Frida Kahlo had no qualms about creatively
            channelling her painful realities. They were her greatest source of strength. The
            ripples rise. Energetic strength returns to our bodies. In honor of Frida, we open the
            drain to absorb the expectations that once shaped us.
          </p>
        </div>
        </div>
      </div>
    </section>

    <section class="pf-contact">
      <div class="pf-container">
        <div>
          <h2>Contact us</h2>
          <div class="message">Tell us how your life went kablooey. We’re happy to reflect back what we hear:
          <a href="mailto:team@projectfrida.com"><b>team@projectfrida.com</b></a></div>
        </div>
      </div>
    </section>

    <footer class="pf-footer">
      <div class="pf-container">
        <div class="pf-footer__content">
          <div class="company">
            &copy; Project Frida, LLC
            <script>document.write( new Date().getFullYear() );</script>
          </div>
          <div class="disclaimer">Not coaching. Not therapy. We facilitate personal transformation.</div>
        </div>
      </div>
    </footer>
  </body>
</html>

