<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We help reinvent you, and your life</title>
    <meta name="description" content="">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="We help reinvent you, and your life">
    <meta property="og:image" content="/assets/hero.png">
    <meta property="og:description" content="">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./assets/favicon/site.webmanifest" />

    <link rel="stylesheet" href="./styles/common.css" />
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pf-navbar-container">
      <div class="pf-container">
        <header class="pf-navbar">
          <a class="pf-navbar__logo" href="/">
            <img src="./assets/images/logo.svg" height="48px" alt="Project Frida"/>
          </a>
          <div class="pf-burger">
            <i class="pf-open fa-solid fa-bars"></i>
            <span class="pf-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="pf-navbar__navbar">
            <ul class="pf-links">
              <li>
                <a class="pf-navbar__link" href="/"><span class="selected">Reinventing life</span></a>
                <a class="pf-navbar__link" href="/approach">Our approach</a>
                <a class="pf-navbar__link" href="/story">Our story</a>
                <a class="pf-navbar__link" href="/about">About us</a>
              </li> 
              <li class="pf-btn-container d-none">
                <a
                  class="pf-btn pf-btn-primary"
                  href="mailto:hello@projectfrida.com">
                  Contact
                </a>
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="pf-hero"> 
      <div class="pf-container">
        <div class="pf-hero__content">
          <div class="pf-hero__img"></div>
          <h1>We help you <span class="emphasis">reinvent you, and your life</span></h1>
        </div>
      </div>
    </section>
    <section class="pf-about">
      <div class="pf-container">
        <div class="pf-about__text">
          <h2>Birthed in a bathtub</h2>
          <p class="">
            We are holding each other, trembling, releasing the emotional storms inside. Letting
            our emotions flow into the water leads to a warm realization - we are still here, and
            we still have ourselves.
          </p>
          <p class="">
            A thought transpires through the steamy air - Frida  had no qualms about expressing
            her multitude of painful realities. In fact, they were her greatest source of
            inspiration and strength.
          </p>
          <p class="">
            We spent our careers in tech and health innovation developing new products and
            experiences to benefit people.
          <p class="">
            Viva la Vida! The ripples rise in this tub full of tears. Energetic strength returns
            to our bodies. And in honour of Frida, we open the drain to absorb the expectations
            that once shaped us and the dreams that once made us.
          </p>
        </div>
      </div>
    </section>

    <footer class="pf-footer">
      <div class="pf-container">
        <div class="pf-footer__content">
          <div class="company">
            &copy; Project Frida, LLC
            <script>document.write( new Date().getFullYear() );</script>
          </div>
          <div class="message">Not coaching. Not therapy. We facilitate personal transformation.</div>
        </div>
      </div>
    </footer>
  </body>
</html>

