<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQR9D82SGK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WQR9D82SGK');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We help reinvent your life</title>
    <meta name="description" content="">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="We help you reinvent your life">
    <meta property="og:image" content="/assets/hero.png">
    <meta property="og:description" content="Project Frida is about helping you realize a life that fits you. Not coaching. Not therapy. We facilitate personal transformation.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />

    <link rel="stylesheet" href="../styles/common.css" />
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pf-navbar-container">
      <div class="pf-container">
        <header class="pf-navbar">
          <a class="pf-navbar__logo" href="/">
            <img src="../assets/images/logo.svg" height="48px" alt="Project Frida"/>
          </a>
          <div class="pf-burger">
            <i class="pf-open fa-solid fa-bars"></i>
            <span class="pf-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="pf-navbar__navbar">
            <ul class="pf-links">
              <li>
                <a class="pf-navbar__link selected">Work with us</a>
              </li>
              <li>
                <a class="pf-navbar__link" href="/story">Our disruptions</a>
              </li>
              <li>
                <a class="pf-navbar__link" href="/about">Who we are</a>
              </li> 
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="pf-experience-intro"> 
      <div class="pf-container">
        <div class="pf-experience-intro__content">
          <h1>Realize a life that fits</h1>
        <div class="pf-experience-intro__text">
          Project Frida is about helping you realize a life that fits you. It is also about learning
          how to continually reinvent your life. You can expect a proven structured process that
          generates results and our utmost support along the way.
        </div>
      </div>
    </section>

    <section class="pf-experience"> 
      <div class="pf-container">
        <div class="pf-experience__content">
          <div class="pf-experience__process"></div>
          <div class="pf-experience__text">
          <div>
            <h2>Dive</h2>
            <p>
              We start by listening to you and reflecting back what we hear. We also invite you to
              select people who you feel see you clearly and can share other perspectives on you.
              The aim is to generate a statement capturing qualities you desire in a new life. This
              statement is the north start that guides our work together.
            </p>
          </div>
          <div>
            <h2>Dream</h2>
            <p>
              Do you dare to dream? In this phase, we invite you to expand your current dreams or
              create new ones. Through creative exercises, we encourage you to think freely about
              your potential for a new life and expand your possibilities. Then, we dream about how
              to get there.
            </p>
          </div>
          <div>
            <h2>Do</h2>
            <p>
              Now it is time to take steps towards your new life. Through recurring check-ins, we
              will overcome  obstacles, inertia or barriers you might encounter and help you
              accelerate progress by adjusting our  support in response to your needs. We are here
              to challenge you and hold you accountable!
            </p>
          </div>
          <div class="pf-divider"></div>
          </div>
          <div class="pf-experience__items">
            <h2>You'll work on</h2>
            <ul>
              <li>
                <span class="heavy">Reframing your story:</span> transform your challenging experiences into sources of strength
              </li>
              <li>
                <span class="heavy">Articulating your needs:</span> establish a deeper connection with yourself and identify what you need
              </li>
              <li>
                <span class="heavy">Taking action:</span> experiment with tangible steps toward realizing a new life
              </li>
              <li>
                <span class="heavy">Surrendering control:</span> strengthen your ability to navigate continued disruptions
              </li>
            </ul>
          </div>
        </div>  
      </div>
    </section>
    <section class="pf-who">
      <div class="pf-container">
        <div class="pf-who__content">
          <a href="/about">
            <div class="pf-btn-clear">Who we are</div>
          </a>
        </div>
      </div>
    </section>
    <section class="pf-contact">
      <div class="pf-container">
        <div>
          <h2>Contact us</h2>
          <div class="message">Tell us how your life went kablooey. We’re happy to reflect back what we hear:
          <a href="mailto:hello@projectfrida.com"><span class="heavy">hello@projectfrida.com</span></a></div>
        </div>
      </div>
    </section>

    <footer class="pf-footer">
      <div class="pf-container">
        <div class="pf-footer__content">
          <div class="company">
            &copy; Project Frida, LLC
            <script>document.write( new Date().getFullYear() );</script>
          </div>
          <div class="disclaimer">Not coaching. Not therapy. We facilitate personal transformation.</div>
        </div>
      </div>
    </footer>
    <script src="../js/common.js"></script>
  </body>
</html>

