<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WQR9D82SGK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WQR9D82SGK');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We help reinvent your life</title>
    <meta name="description" content="">
    <meta property="og:url" content="url('/')">
    <meta property="og:type" content="website">
    <meta property="og:title" content="We help you reinvent your life">
    <meta property="og:image" content="/assets/hero.png">
    <meta property="og:description" content="Project Frida is about helping you realize a life that fits you. Not coaching. Not therapy. We facilitate personal transformation.">

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />

    <link rel="stylesheet" href="../styles/common.css" />
    <script src="https://kit.fontawesome.com/efed93f1aa.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="pf-navbar-container">
      <div class="pf-container">
        <header class="pf-navbar">
          <a class="pf-navbar__logo" href="/">
            <img src="../assets/images/logo.svg" height="48px" alt="Project Frida"/>
          </a>
          <div class="pf-burger">
            <i class="pf-open fa-solid fa-bars"></i>
            <span class="pf-close">
              <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
          <nav class="pf-navbar__navbar">
            <ul class="pf-links">
              <li>
                <a class="pf-navbar__link" href="/experience">Work with us</a>
              </li>
              <li>
                <a class="pf-navbar__link selected">Our disruptions</a>
              </li>
              <li>
                <a class="pf-navbar__link" href="/about">Who we are</a>
              </li> 
            </ul>
          </nav>
        </header>
      </div>
    </nav>

    <section class="pf-story-intro"> 
      <div class="pf-container">
        <div class="pf-story-intro__content">
          <h1>Our lives, kablooyed</h1>
        </div>
      </div>
    </section>

    <section class="pf-story"> 
      <div class="pf-container">
        <div class="pf-story__content">
          <div class="pf-jdc__img"></div>
          <div class="pf-story__text">
            <p>
              My bones were practically empty. In 2022, I was told that my body was actively
              attacking my bone marrow and that a stem cell transplant was the only cure. When my
              only sister was found to be a match (25% chance), I chose life. What I did not
              anticipate was that living would require rebirthing myself, cell by cell, from the
              inside out.
              <br /><br />
              Initially, recovery involved isolating myself from people and the outside world.
              Loved ones became synonymous with germs. I questioned what it meant to be alive. As
              my physical body recovered, a new and unfamiliar truth emerged - I did not want to
              resume life as it was. Phrases like “we need to get you back to life” felt like
              being asked to try on misfit clothes. Pouring hours into a 9-5 job were emptying my
              soul. I felt devoid of time to cultivate life’s nutrients of connection and joy. It
              felt like the world wanted me to accept its dysfunction and exert myself to make up
              for how poorly it is designed for vulnerable people.
              <br /><br />
              After many years of discombobulation, I committed myself to creating a life full of
              nourishment and joy.
            </p>
          </div>
        </div>  
      </div>
    </section>

    <section class="pf-story"> 
      <div class="pf-container">
        <div class="pf-story__content">
          <div class="pf-tn__img"></div>
          <div class="pf-story__text">
            <p>
              In 2023, I left my role as a design executive before figuring out my next steps. Every
              few years, when growth slows, I find that I need a change. I had been through several
              transitions in my career across startups and big tech, even taking time off at times
              to explore my own ventures. To expand beyond my comfort zone, I had taken many
              leaps—though none that impacted both my professional and personal life at the same
              time.
              <br /><br />
              Ongoing existential and relational challenges brought on by new motherhood had been
              difficult for a few years, adding to the uncertainty. While I was arguably successful
              and seemed happy, the person I felt on the inside wasn’t fully reflected in the world.
              My 21-year partnership ended. My longtime coach passed away. I had created a life
              based on internalized expectations, partly shaped by being a first-generation
              immigrant, but the life I had known for decades no longer existed.
              <br /><br />
              To rebuild a life true to me, I had to figure out what I wanted. But wanting was
              foreign when other voices were silent—I had to learn to hear my own voice.
            </p>
          </div>
        </div>  
      </div>
    </section>

    <section class="pf-work"> 
      <div class="pf-container">
        <div class="pf-work__content">
          <div class="pf-work__text">
            Regardless of how disruption arrives, its impact is overwhelming. For Jackie, disruption
            hit her life like a bomb, while Tina instigated disruption willingly. For both,
            disruption simultaneously brought hope and excitement along with immense instability and
            fear. Has your life recently gone kablooey? How are you coping with it?
            <div class="pf-work__btn">
              <a href="/experience">
                <div class="pf-btn">Work with us</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="pf-contact">
      <div class="pf-container">
        <div>
          <h2>Contact us</h2>
          <div class="message">Tell us how your life went kablooey. We’re happy to reflect back what we hear:
          <a href="mailto:hello@projectfrida.com"><span class="heavy">hello@projectfrida.com</span></a></div>
        </div>
      </div>
    </section>

    <footer class="pf-footer">
      <div class="pf-container">
        <div class="pf-footer__content">
          <div class="company">
            &copy; Project Frida, LLC
            <script>document.write( new Date().getFullYear() );</script>
          </div>
          <div class="disclaimer">Not coaching. Not therapy. We facilitate personal transformation.</div>
        </div>
      </div>
    </footer>
    <script src="../js/common.js"></script>
  </body>
</html>

