@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 3.5vw, 1.5rem);
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: "Nunito Sans", sans-serif;
  line-height: 120%;
}
h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
}
h2 {
  font-size: clamp(2rem, 8vw, 3.5rem);
}
p {
  line-height: 150%;
  margin: 2.5rem 0;
}
.emphasis {
  color: #920751;
}
.em {
  font-weight: 700;
  font-style: italic;
}
.break {
  display: block;
}
.pf-container {
  max-width: 88rem;
  margin: auto;
}
.pf-hero {
  align-items: center;
}
.pf-hero__img {
  background-image: url("../assets/images/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}
.pf-hero__content {
  text-align: center;
  padding: 8rem 0 6rem;
}
.pf-kablooey {
  background: #920751;
  color: #fff;
  padding: 6rem;
}
.pf-kablooey__text {
  max-width: 50rem;
  margin: auto;
}
.pf-bathtub {
  background: #fff;
  color: #000;
  padding: 6rem;
}
.pf-bathtub__content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;
}
.pf-team__img {
  background-image: url("../assets/images/us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: stretch;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
}
.pf-bathtub__text {
  max-width: 45rem;
  margin: auto;
}
.pf-mirror-intro {
  margin-top: 10rem;
}
.pf-mirror-intro__content {
  padding: 2rem 2rem 0;
}
.pf-mirror {
  margin: auto;
  max-width: 88rem;
}
.pf-mirror__content {
  margin: auto;
  padding: 2rem 2rem 0;
}
.pf-mirror__about {
  padding: 5rem 0 0;
}
.pf-mirror__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.pf-work {
  position: relative;
  margin: 5rem auto;
  max-width: 88rem;
  height: 600px;
}
.pf-work::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("../assets/images/process.png");
  opacity: 0.2;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.pf-work__content {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 600px;
}
.pf-work__text {
  max-width: 50rem;
  margin: auto;
}
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.pf-btn {
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: inline-block;
  text-align: center;
}
.pf-btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  letter-spacing: 0.03em;

  &:hover {
    background-color: #0fab74;
    color: #fff;
  }
}
.pf-navbar-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 300ms ease-in-out;
  z-index: 1000;
}
.pf-navbar {
  padding-block: 1.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.pf-navbar__nav {
  display: none;
}
.pf-links {
  display: flex;
  list-style: none;
  gap: 5rem;
  
  li {
   padding: 0;
  }
}
.pf-navbar__link {
  text-decoration: none;
  position: relative;
  transition: color 300ms ease-in-out;
  color: var(--default-text);

  .selected {
    color: #920751;
    font-weight: 900;
  }
}
.pf-navbar__link.selected {
  color: #920751;
  font-weight: 900;
}
.pf-navbar__link:hover {
  color: #920751;
}
.pf-links a {
  display: inline-block;
  padding-left: 3rem;
  position: relative;
  color: var(--default-text);
}
.pf-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
  .pf-navbar--light .pf-navbar__link {
    color: white;
  }
}
.pf-navbar-fade-in .pf-navbar__link {
  color: var(--gray-2);
}
.pf-navbar-fade-in .pf-burger {
  color: #000 !important;
}

@media screen and (min-width: 768px) {
  .pf-burger {
    display: none;
  }
  header {
    justify-content: space-between;
    p {
      margin: 0 12rem;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    flex-direction: row;
    margin-right: 5vw;
  }
  .icons {
    padding: 0;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .pf-navbar__navbar {
    background-color: white;
    position: absolute;
    width: calc(100vw - 3rem);
    height: calc(100vh - 73px);
    top: 73px;
    left: 0;
    z-index: -1;
    padding-inline: 1.5rem;
    display: none;
    flex-direction: column;
    padding-top: 2.5rem;
  }
  .pf-links {
    gap: 3rem;
  }
  .pf-navbar__navbar .pf-btn-container,
  .pf-navbar__navbar .pf-btn {
    width: calc(100% - 2rem) !important;
  }
  .pf-links {
    flex-direction: column;
    align-items: start;
  }
  .pf-navbar-active {
    background-color: white;
  }
  .pf-navbar-active .pf-btn-container {
    display: block !important;
  }
  .pf-navbar-active .pf-burger {
    color: #000 !important;
  }
  .pf-navbar-active .pf-container {
    border-bottom: 1px solid #dddddd;
  }
  .pf-navbar-active .pf-open {
    display: none;
  }
  .pf-navbar-active .pf-close {
    display: block;
  }
  .pf-navbar-active .pf-navbar__navbar {
    display: flex;
  }
  .pf-close {
    display: none;
  }
}

/* Contact */
.pf-contact {
  background: #920751;
  color: #fff;
  padding: 5rem;

  a {
    color: #fff;
  }
}
.message {
  margin-top: 1rem;
}

/* Footer */
.pf-footer {
  padding: 5rem;
}

.pf-footer__content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
@media (max-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
